<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chat</title>
</head>
<body>

    <form method="post" action="/poslji-sporocilo">
        <p>
            Ime:
            <input name="ime">
        </p>
        <p>
            E-mail:
            <input name="email">
        </p>
        <p>
            Sporočilo*:
            <input name="sporocilo" required>
        </p>
        <p>
            <button type="submit">Pošlji</button>
        </p>
        <p>
            Vnos v polja označena z * je obvezen!
        </p>
    </form>

</body>
</html>